<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qmetry.qaf.automation.step.client.Scenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_EXP_FT_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_EXP_FT_08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_EXP_FT_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_LM_FT_24</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_LM_FT_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_LOGIN_FT_01</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_LOGIN_FT_02</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_HM_FT_40</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_HM_FT_15</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_CS_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NEST_R&R_UIUX_031</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NEST_R&R_UIUX_034</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_TN_21</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_TN_23</td>
<td>Smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_TN_69</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_TRL_32</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_TRL_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_TRL_59</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_HM_FT_14</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.qmetry.qaf.automation.step.client.DataDrivenScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_HM_FT_38</td>
<td>SMOKE </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HRMS_HM_FT_38</td>
<td>SMOKE </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
