<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SMOKE</td><td>scenarios.Login.bdd.HRMS_LOGIN_FT_01()[pri:1005, instance:com.qmetry.qaf.automation.step.client.Scenario@3ed]<br/>scenarios.Login.bdd.HRMS_LOGIN_FT_02()[pri:1006, instance:com.qmetry.qaf.automation.step.client.Scenario@3ee]<br/>scenarios.ProfilePage.bdd.HRMS_HM_FT_15()[pri:1009, instance:com.qmetry.qaf.automation.step.client.Scenario@3f1]<br/>scenarios.Login.bdd.HRMS_LOGIN_FT_01()[pri:1025, instance:com.qmetry.qaf.automation.step.client.Scenario@401]<br/>scenarios.Login.bdd.HRMS_LOGIN_FT_02()[pri:1026, instance:com.qmetry.qaf.automation.step.client.Scenario@402]<br/>scenarios.ProfilePage.bdd.HRMS_HM_FT_15()[pri:1029, instance:com.qmetry.qaf.automation.step.client.Scenario@405]<br/>scenarios.Login.bdd.HRMS_HM_FT_38( java.util.Map)[pri:1007, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]<br/>scenarios.Login.bdd.HRMS_HM_FT_38( java.util.Map)[pri:1027, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]<br/></td></tr>
<tr><td>Smoke</td><td>scenarios.Training.bdd.TS_TN_23()[pri:1014, instance:com.qmetry.qaf.automation.step.client.Scenario@3f6]<br/>scenarios.Training.bdd.TS_TN_23()[pri:1034, instance:com.qmetry.qaf.automation.step.client.Scenario@40a]<br/></td></tr>
</table>
