<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QAF Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f69090">  <td>18/07/04 18:51:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_05()[pri:1022, instance:com.qmetry.qaf.automation.step.client.Scenario@3fe]">HRMS_EXP_FT_05</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:51:46</td>   <td>16710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_05()[pri:1002, instance:com.qmetry.qaf.automation.step.client.Scenario@3ea]">HRMS_EXP_FT_05</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:48:19</td>   <td>-191164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_06()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">HRMS_EXP_FT_06</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:48:19</td>   <td>-191136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_06()[pri:1020, instance:com.qmetry.qaf.automation.step.client.Scenario@3fc]">HRMS_EXP_FT_06</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:49:51</td>   <td>-98479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_08()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">HRMS_EXP_FT_08</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:49:58</td>   <td>-91380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ExpensePage.bdd.HRMS_EXP_FT_08()[pri:1021, instance:com.qmetry.qaf.automation.step.client.Scenario@3fd]">HRMS_EXP_FT_08</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:05:58</td>   <td>868411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.HRMS_HM_FT_14()[pri:1019, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">HRMS_HM_FT_14</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:16:02</td>   <td>1471995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.HRMS_HM_FT_14()[pri:1039, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">HRMS_HM_FT_14</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:56:58</td>   <td>328582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ProfilePage.bdd.HRMS_HM_FT_15()[pri:1009, instance:com.qmetry.qaf.automation.step.client.Scenario@3f1]">HRMS_HM_FT_15</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:02:10</td>   <td>639911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ProfilePage.bdd.HRMS_HM_FT_15()[pri:1029, instance:com.qmetry.qaf.automation.step.client.Scenario@405]">HRMS_HM_FT_15</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="8bf372">  <td>18/07/04 18:55:36</td>   <td>246467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_HM_FT_38( java.util.Map)[pri:1007, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]">HRMS_HM_FT_38</td> 
  <td>TestNG@1941710266</td>   <td>1007 </td> </tr>
<tr bgcolor="8bf372">  <td>18/07/04 18:59:07</td>   <td>457251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_HM_FT_38( java.util.Map)[pri:1027, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">HRMS_HM_FT_38</td> 
  <td>TestNG@784780418</td>   <td>1027 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:56:07</td>   <td>277202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ProfilePage.bdd.HRMS_HM_FT_40()[pri:1008, instance:com.qmetry.qaf.automation.step.client.Scenario@3f0]">HRMS_HM_FT_40</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:00:38</td>   <td>548525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.ProfilePage.bdd.HRMS_HM_FT_40()[pri:1028, instance:com.qmetry.qaf.automation.step.client.Scenario@404]">HRMS_HM_FT_40</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:53:59</td>   <td>149548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.LeavePage.bdd.HRMS_LM_FT_01()[pri:1004, instance:com.qmetry.qaf.automation.step.client.Scenario@3ec]">HRMS_LM_FT_01</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:54:32</td>   <td>182729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.LeavePage.bdd.HRMS_LM_FT_01()[pri:1024, instance:com.qmetry.qaf.automation.step.client.Scenario@400]">HRMS_LM_FT_01</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:53:01</td>   <td>91325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.LeavePage.bdd.HRMS_LM_FT_24()[pri:1023, instance:com.qmetry.qaf.automation.step.client.Scenario@3ff]">HRMS_LM_FT_24</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:53:09</td>   <td>98821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.LeavePage.bdd.HRMS_LM_FT_24()[pri:1003, instance:com.qmetry.qaf.automation.step.client.Scenario@3eb]">HRMS_LM_FT_24</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:54:38</td>   <td>188632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_LOGIN_FT_01()[pri:1005, instance:com.qmetry.qaf.automation.step.client.Scenario@3ed]">HRMS_LOGIN_FT_01</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:56:04</td>   <td>274188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_LOGIN_FT_01()[pri:1025, instance:com.qmetry.qaf.automation.step.client.Scenario@401]">HRMS_LOGIN_FT_01</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:55:11</td>   <td>221123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_LOGIN_FT_02()[pri:1006, instance:com.qmetry.qaf.automation.step.client.Scenario@3ee]">HRMS_LOGIN_FT_02</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:57:36</td>   <td>365832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Login.bdd.HRMS_LOGIN_FT_02()[pri:1026, instance:com.qmetry.qaf.automation.step.client.Scenario@402]">HRMS_LOGIN_FT_02</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:59:21</td>   <td>471370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Rnr.bdd.NEST_R&R_UIUX_031()[pri:1011, instance:com.qmetry.qaf.automation.step.client.Scenario@3f3]">NEST_R&R_UIUX_031</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:05:14</td>   <td>824152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Rnr.bdd.NEST_R&R_UIUX_031()[pri:1031, instance:com.qmetry.qaf.automation.step.client.Scenario@407]">NEST_R&R_UIUX_031</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:00:17</td>   <td>527110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Rnr.bdd.NEST_R&R_UIUX_034()[pri:1012, instance:com.qmetry.qaf.automation.step.client.Scenario@3f4]">NEST_R&R_UIUX_034</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:06:46</td>   <td>916261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Rnr.bdd.NEST_R&R_UIUX_034()[pri:1032, instance:com.qmetry.qaf.automation.step.client.Scenario@408]">NEST_R&R_UIUX_034</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 18:57:56</td>   <td>386752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.publisher.bdd.TS_CS_05()[pri:1010, instance:com.qmetry.qaf.automation.step.client.Scenario@3f2]">TS_CS_05</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:03:42</td>   <td>731968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.publisher.bdd.TS_CS_05()[pri:1030, instance:com.qmetry.qaf.automation.step.client.Scenario@406]">TS_CS_05</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:01:12</td>   <td>582371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_21()[pri:1013, instance:com.qmetry.qaf.automation.step.client.Scenario@3f5]">TS_TN_21</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:08:18</td>   <td>1008469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_21()[pri:1033, instance:com.qmetry.qaf.automation.step.client.Scenario@409]">TS_TN_21</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:02:34</td>   <td>664515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_23()[pri:1014, instance:com.qmetry.qaf.automation.step.client.Scenario@3f6]">TS_TN_23</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:09:52</td>   <td>1101811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_23()[pri:1034, instance:com.qmetry.qaf.automation.step.client.Scenario@40a]">TS_TN_23</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:03:47</td>   <td>737167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_69()[pri:1015, instance:com.qmetry.qaf.automation.step.client.Scenario@3f7]">TS_TN_69</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:11:24</td>   <td>1194023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Training.bdd.TS_TN_69()[pri:1035, instance:com.qmetry.qaf.automation.step.client.Scenario@40b]">TS_TN_69</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:04:41</td>   <td>791488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_04()[pri:1017, instance:com.qmetry.qaf.automation.step.client.Scenario@3f9]">TS_TRL_04</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:12:56</td>   <td>1286309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_04()[pri:1037, instance:com.qmetry.qaf.automation.step.client.Scenario@40d]">TS_TRL_04</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:03:47</td>   <td>737218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_32()[pri:1016, instance:com.qmetry.qaf.automation.step.client.Scenario@3f8]">TS_TRL_32</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:11:24</td>   <td>1194085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_32()[pri:1036, instance:com.qmetry.qaf.automation.step.client.Scenario@40c]">TS_TRL_32</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:05:32</td>   <td>842630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_59()[pri:1018, instance:com.qmetry.qaf.automation.step.client.Scenario@3fa]">TS_TRL_59</td> 
  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="f69090">  <td>18/07/04 19:14:28</td>   <td>1378632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.Travel.bdd.TS_TRL_59()[pri:1038, instance:com.qmetry.qaf.automation.step.client.Scenario@40e]">TS_TRL_59</td> 
  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:49:51</td>   <td>-98484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:49:58</td>   <td>-91385</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:51:30</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:51:46</td>   <td>16708</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:01</td>   <td>91323</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:09</td>   <td>98819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:59</td>   <td>149546</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:54:32</td>   <td>182726</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:54:38</td>   <td>188630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:55:11</td>   <td>221122</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:55:36</td>   <td>246458</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:04</td>   <td>274185</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:07</td>   <td>277200</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1007 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:58</td>   <td>328580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:57:36</td>   <td>365831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:57:56</td>   <td>386750</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:59:07</td>   <td>457249</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:59:21</td>   <td>471369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:00:17</td>   <td>527108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:00:38</td>   <td>548524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1027 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:01:12</td>   <td>582370</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:02:10</td>   <td>639908</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:02:34</td>   <td>664514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:42</td>   <td>731967</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:47</td>   <td>737166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:47</td>   <td>737216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:04:41</td>   <td>791472</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:14</td>   <td>824151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:32</td>   <td>842630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:58</td>   <td>868411</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:06:46</td>   <td>916259</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:07:20</td>   <td>950129</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:08:18</td>   <td>1008453</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:09:52</td>   <td>1101811</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:11:24</td>   <td>1194023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:11:24</td>   <td>1194070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:12:56</td>   <td>1286309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:14:28</td>   <td>1378632</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:16:02</td>   <td>1471995</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:17:34</td>   <td>1564383</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:49:51</td>   <td>-98556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:49:58</td>   <td>-91387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:51:30</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:51:46</td>   <td>16656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:01</td>   <td>91322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:08</td>   <td>98738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:53:59</td>   <td>149475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:54:32</td>   <td>182726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:54:38</td>   <td>188577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:55:11</td>   <td>221013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:55:36</td>   <td>246403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:04</td>   <td>274183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:07</td>   <td>277125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1007 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:56:58</td>   <td>328499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:57:36</td>   <td>365830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:57:56</td>   <td>386625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:59:07</td>   <td>457249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 18:59:21</td>   <td>471294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:00:17</td>   <td>527049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:00:38</td>   <td>548523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1027 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:01:12</td>   <td>582321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:02:10</td>   <td>639908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:02:34</td>   <td>664418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:42</td>   <td>731966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:47</td>   <td>737099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:03:47</td>   <td>737215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:04:41</td>   <td>791426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:14</td>   <td>824150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:32</td>   <td>842570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:05:58</td>   <td>868346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:06:46</td>   <td>916259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:07:20</td>   <td>950085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:08:18</td>   <td>1008453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:09:52</td>   <td>1101811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:11:24</td>   <td>1194023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:11:24</td>   <td>1194070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:12:56</td>   <td>1286309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:14:28</td>   <td>1378632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:16:02</td>   <td>1471995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:17:34</td>   <td>1564383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:17:34</td>   <td>1564445</td> <td title="&lt;&lt;TestNGTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:07:20</td>   <td>950129</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a1c291">  <td>18/07/04 19:17:34</td>   <td>1564383</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191185</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191147</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:49:51</td>   <td>-98481</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:49:58</td>   <td>-91384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:51:30</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:51:46</td>   <td>16709</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:01</td>   <td>91324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:09</td>   <td>98820</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:59</td>   <td>149547</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:54:32</td>   <td>182727</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:54:38</td>   <td>188631</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:55:11</td>   <td>221122</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:55:36</td>   <td>246458</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1007 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:04</td>   <td>274186</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:07</td>   <td>277201</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:58</td>   <td>328580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:57:36</td>   <td>365831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:57:56</td>   <td>386751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:59:07</td>   <td>457250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1027 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:59:21</td>   <td>471369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:00:17</td>   <td>527109</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:00:38</td>   <td>548524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:01:12</td>   <td>582370</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:02:10</td>   <td>639910</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:02:34</td>   <td>664514</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:42</td>   <td>731967</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:47</td>   <td>737166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:47</td>   <td>737216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:04:41</td>   <td>791472</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:14</td>   <td>824151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:32</td>   <td>842630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:58</td>   <td>868411</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:06:46</td>   <td>916260</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:08:18</td>   <td>1008469</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:09:52</td>   <td>1101811</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:11:24</td>   <td>1194023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:11:24</td>   <td>1194070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:12:56</td>   <td>1286309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:14:28</td>   <td>1378632</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:16:02</td>   <td>1471995</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:49:51</td>   <td>-98480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:49:58</td>   <td>-91383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:51:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:51:46</td>   <td>16710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:01</td>   <td>91324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:09</td>   <td>98821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:53:59</td>   <td>149548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:54:32</td>   <td>182728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:54:38</td>   <td>188631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:55:11</td>   <td>221123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:55:36</td>   <td>246466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@3ef]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1007 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:04</td>   <td>274188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:07</td>   <td>277202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:56:58</td>   <td>328581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:57:36</td>   <td>365832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:57:56</td>   <td>386752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:59:07</td>   <td>457251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.DataDrivenScenario@403]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1027 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:59:21</td>   <td>471370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:00:17</td>   <td>527109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:00:38</td>   <td>548525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:01:12</td>   <td>582371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:02:10</td>   <td>639910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:02:34</td>   <td>664515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:42</td>   <td>731968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:47</td>   <td>737167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:03:47</td>   <td>737218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:04:41</td>   <td>791472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:14</td>   <td>824152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:32</td>   <td>842630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:05:58</td>   <td>868411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:06:46</td>   <td>916261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:08:18</td>   <td>1008469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:09:52</td>   <td>1101811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:11:24</td>   <td>1194023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:11:24</td>   <td>1194085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:12:56</td>   <td>1286309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:14:28</td>   <td>1378632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 19:16:02</td>   <td>1471995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:18</td>   <td>-191281</td> <td title="&gt;&gt;TestNGTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191204</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3fb]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1941710266</td>   <td>1000 1001 1002 1003 1004 1005 1006 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 </td> </tr>
<tr bgcolor="a5a39b">  <td>18/07/04 18:48:19</td>   <td>-191168</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@40f]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@784780418</td>   <td>1020 1021 1022 1023 1024 1025 1026 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 </td> </tr>
</table>
